* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    height: 200px;
    width: 200px;
    margin: 25px;
    background-color: white;
}

#btn {
    padding: 10px 20px;
    background: #4a8cff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 5px 0 #1e3f8a;
    transition: 0.1s;
    cursor: pointer;
}

#btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 0 #1e3f8a;
}
