*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#box{
    height: 200px;
    width: 200px;
    margin: 25px;
   background-color: white;
}

#btn{
    font-weight: 400;
    background-color: aliceblue;
    padding: 5px;
    cursor: pointer;
    margin: 15px;
    border-radius: 50px;
    border: solid  1px;
}

#btn:hover{
    background-color: rgb(0,145,123);
}